{% extends 'base.html' %} {% load django_bootstrap5 %} {% load action %} 
{% block breadcrumbs %}
<li class="breadcrumb-item" aria-current="page"><a href="{% url "manager:entity" project.entity.id %}">{{ project.entity.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="{% url "manager:project" project.id %}">{{ project.name }}</a></li>
{% endblock%} {% block content %}
<div class="col-10">
<h2>Documents list for project "{{ project.name}}"</h2>

<div class="accordion" id="documentList">
  {% for document in project.documents.all %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{document.id}}">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{document.id}}"
        aria-expanded="true"
        aria-controls="collapse{{document.id}}"
      >
        <span>{{ document.name }}</span> 
        <span class="badge text-info">{{document.size | filesizeformat}}</span>
        <span class="badge bg-light text-dark">
          {{ document.language.name|default:"---" }}</span
        >
       
       </button>
    </h2>
    <div
      id="collapse{{document.id}}"
      class="accordion-collapse collapse"
      aria-labelledby="heading{{document.id}}"
      data-bs-parent="#documentList"
    >
      <div class="accordion-body">{% display_actions document %}</div>
    </div>
  </div>
  {% empty %}
  <li>No document are available.</li>
  {% endfor %}
</div>
</div>
<div class="col-2">
<div class="card">
  <div class="card-body">
    <form
      action="{% url 'manager:project' project.id %}"
      method="post"
      enctype="multipart/form-data"
      class="form"
    >
      {% csrf_token %} {% bootstrap_form form %} 
      {% bootstrap_button button_type="submit" content="Add document" %}
    </form>
  </div>
</div>
</div>
{% endblock %}
